<tr data-id="{{itemid}}">
	<td>
		<a class="sample-response-name" data-id="{{itemid}}">{{name}}</a>
	</td>
	<td width="50px">
		<a class="sample-response-delete" data-id="{{itemid}}">Remove</a>
	</td>
</tr>